{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center">


        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h1 class="my-0 font-weight-normal">Письмо {{ object.pk }}</h1>
                </div>
                <div class="card-body">

                    <p>Тема письма: {{ object.theme }}</p>
                    <p>Сообщение: {{ object.message }}</p>

                    <a href="{% url 'mailing:update_message' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                    <a href="{% url 'mailing:delete_message' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}