{% extends 'mailing/base.html' %}


{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'mailing:create_message' %}">Добавить сообщение</a>
</div>
<div class="container">
    <div class="row text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тема</th>
                <th scope="col">Текст сообщения</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.theme }}</td>
                <td>{{ object.message }}</td>
                <td><a href="{% url 'mailing:message' object.pk %}"
                       class="btn btn-lg btn-block btn-outline-primary">Открыть</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}